.student-list {
  margin-bottom: 2rem;
}
input {
  background-color: inherit;
  border-radius: 0.7rem;
  height: 1.7rem;
  margin: 0 1rem 0 1rem;
  padding: 0 0 0 0.5rem;
  color: white;
}
table {
  font-family: inherit;
  font-size: 1.3rem;
  border: 1px solid #1a1c21;
  border-radius: 15px;
  width: 60%;
  border-spacing: 0px;
}

td,
th {
  background-color: inherit;
  text-align: left;
  padding-left: 2rem;
}
.input th{
  padding-left: 0rem;
}
button {
  height: 1.7rem;
  background-color: inherit;
  border-radius: 0.3rem;
  color: white;
}

tr:nth-child(even) {
  background-color: #1a1c21;
}
tfoot {
  height: 1.3rem;
}
